# normalize line endings in repo to LF
* text=auto eol=lf

# keep images/binaries intact
*.png -text
*.jpg -text
*.jpeg -text
*.gif -text
*.zip -text
*.pdf -text

# scripts on Windows: позволим CRLF в bat/cmd/ps1
*.bat eol=crlf
*.cmd eol=crlf
*.ps1 eol=crlf
